body {
    margin: 0;
}

header,
footer {
    height: 125px;
    background-color: rgb(4, 4, 90);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    min-height: 500px;
}

.headerTitle {
    color: white;
}

#sidebar {
    min-width: 20vw;
    background-color: rgb(214, 202, 202);
    display: grid;
    grid-template-rows: repeat(4, 75px);
}

#newProjectForm {
    display: none;
}

#display {
    width: 80vw;
    background-color: rgb(226, 221, 221);
}

.tabHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#newTaskForm {
    background-color: white;
    padding: 10px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
}

.uc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lc {
    display: none;
}